node_modules
public
.tmp
.sass-cache
client/bower_components
dist
/server/config/local.env.js
mongod.lock
polymertest-dev.0
polymertest-dev.ns
local.0
local.ns
polymertest.0
polymertest.ns
journal
karma.conf.js
.travis.yml
.yo-rc.json
.editorconfig
